.judul {
	color: royalblue;
	font-weight: bold;

}

h4.logbook {
	color: forestgreen;
	font-weight: bold;
}

.col-form-label {
	font-weight: bold;
}

.nav-item.nav-logbook {
	color: forestgreen;
}


.nav-link {
	font-weight: bold;
}

.tableheadlogbook {
	font-size: 14px;
	text-align: center;
}

/* .realisasi {
	width: 10%;
} */

td.perhitungan {
	width: 200px;
}

td.keterangan {
	width: 180px;
}

tr.detail {
	font-size: 14px;
	text-align: center;
}

td.wakturekam {
	width: 100px;
	font-size: 13px;
}

td.realisasi {
	width: 120px;
}

td.periode {
	width: 120px;
}

th.nomor {
	width: 60px;
}

td.aksi {
	width: 80px;
}

td.keterangan {
	width: 400px;
}

td.perhitungan-bawahan {
	width: 150px;
}

td.keterangan-bawahan {
	width: 500px;
}

td.wakturekam-bawahan {
	width: 120px;
}

td.waktupersetujuan-bawahan {
	width: 120px;
}

th.nomor-bawahan {
	width: 60px;
}

td.realisasi-bawahan {
	width: 120px;
}
