.login-image {
    background-image: url('../img/kantor.jpg');
    background-size: cover;
    margin-top: 100px;
}

.card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5) !important;
    width: 500px;
    height: 350px;
}

div.text-center h4{
    color: white;
}

.user input[type = "text"],.user input[type = "password"]{
    border:1px solid royalblue;
    background-color: rgba(0,0,0,0.5);
    display: block;
    color: white;
}

input{
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
    color: white;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }