table.log-table {
    margin-top: 40px;
}

h4.pengumumanjudul {
    color: royalblue;
    font-weight: 700;
}

.pengumumantr {
    text-align: center;
}

.pengumumanisi {
    text-align: center;
}

.btn-simpanpeng {
    margin-right: 3px
}

.aksipengumuman {
    width: 10%;
}

.contentpengumuman {
    width: 60%;
    text-align: justify;
}

h5.modal-title {
    color: royalblue;
    font-weight: 700;
}

tr.logactivity {
    text-align: center;
}