.login-image {
    background-image: url('../img/kantor.jpg');
    background-size: cover;
    margin-top: 100px;
}

.login-image::after {
    background-image: linear-gradient(red, yellow);
}

.border-top-primary {
    border-top: .25rem solid #4e73df!important;
}

.border-top-success {
   border-top: .25rem solid #1cc88a!important;
}

.border-top-info {
    border-top: .25rem solid #36b9cc!important;
}

.border-top-warning {
    border-top: .25rem solid #f6c23e!important;
}

.border-top-danger {
    border-top: .25rem solid #e74a3b!important;
}